.Rproj.user
.Rhistory
.RData
.Ruserdata

Data/
*.csv
*.rds
*.html
*.tiff
*.RData
RasteredPreds*
Figures/Archive/
Figures/
TimeSeriesCat.Rmd
SpeciesTables/Salvage_data_FTP*
SpeciesTables/ReadSalvageData*
SpeciesTables/data_raw

